.btn {
  border: 0;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  transition: all ease-in-out .25s;
  

  &--primary {
    background: $primary;
    color: $white;

    &:hover {
      background: $hover;
    }
  }
}
