@font-face {
  font-family: 'Cera Pro';
  font-weight: 300;
  font-style: normal;
  src: local('Cera Pro Light'), local('CeraPro-Light'), url('../fonts/CeraPro-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: normal;
  font-style: normal;
  src: local('Cera Pro Regular'), local('CeraPro-Regular'), url('../fonts/CeraPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-style: normal;
    src: local('Cera Pro Medium'), local('CeraPro-Medium'), url('../fonts/CeraPro-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: bold;
    font-style: normal;
    src: local('Cera Pro Bold'), local('CeraPro-Bold'), url('../fonts/CeraPro-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 500;
  font-style: italic;
  src: local('Cera Pro Medium Italic'), local('CeraPro-MediumItalic'), url('../fonts/CeraPro-MediumItalic.woff2') format('woff2'),
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: normal;
  font-style: italic;
  src: local('Cera Pro Regular Italic'), local('CeraPro-RegularItalic'), url('../fonts/CeraPro-RegularItalic.woff2') format('woff2'),
}
