html, body {
  font-size: 100%;
  font-family: $font;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2 {
  font-size: 1.688rem;
}

h5 {
  font-size: 1.3rem;
}
